@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


* {
    
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Inter', 'calibri', sans-serif;
    font-size: 16px;
    
}

li {
    list-style-type: none; 
}

a {
    text-decoration: none; 
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    color: black;
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    line-height: 48px;
    font-weight: 600;
    border-bottom: 4px solid rgb(223, 167, 179);
    width: 40%;
   /*text-transform: lowercase; */
}

p{
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6rem;
    color: #000000;
}

h6 {
    font-size: 1.3em;
    color: black;
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    margin-bottom: 10px;
    margin-top: 15px;
}

h2 {
    font-size: 1em;
    color: rgb(223, 167, 179);
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    margin-top: 15px;
    text-align: left;
    line-height: 1.5em;
}

.impressum h2 {
    font-size: 1.4em;
    color: black;
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    line-height: 48px;
    font-weight: 400;
}


/* NAVBAR */

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 37, 42, 0.8);
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 70px; 
}



.navbar {
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px;
    line-height: 70px;
}

ul.navbar a {
    font-family: 'Inter', 'calibri', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

ul.navbar a:hover {
    color: rgb(223, 167, 179); 
    box-shadow: 0 -3px 0px rgb(223, 167, 179) inset;
}




.nav-item {
    margin-right: 2em;
}

.nav-item {
    display: inline-block;
    padding: 0px 20px;
}


a.active:active, a.active:visited, a.active
{
    color: rgb(223, 167, 179);  
    box-shadow: 0 -3px 0px rgb(223, 167, 179) inset;
}



  .searchbar {
    float: right;
    height: 30px; 
    border-radius: 8px;
    padding: 10px; 

}






/* HERO SECTIONS */

.hero {
    height: 100vh;
    width: 100%;
}


#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/header.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
}

#architektur {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/architektur2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#reportagen {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/synagoge3.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#zukunst {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/zukunst2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#tricycle {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/staudamm2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#finance {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/berge2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#gesellschaft {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/demo.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#foldingbike {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/foldingbike.jpg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}

#fussball {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/ball2.jpg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}


#windrad {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/windrad2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}


#containern {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/containern2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}


#inklusion {
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("../images/wg.jpg") no-repeat center bottom / cover;
    color: whitesmoke;
    height: 70vh;
}




  

  .info{
    width: 550px;
    margin-left: 350px; 
  }
  
  
  .hero h1 {
      color: white;
      margin-bottom: 40px; 
      margin-top: 7px; 
      font-size: 3em;
      font-family: 'Inter', 'Calibri', sans-serif;
      text-transform: none;
      border-bottom: none;
      width: 100%;
  }
  
  .hero p {
      color: rgb(238, 236, 236); 
      font-family: 'Inter', 'Calibri', sans-serif;
      font-size: 1.2em;
      line-height: 1.3em;
  }

  .zukunsttext p {
    color: rgb(238, 236, 236); 
    font-family: 'Inter', 'Calibri', sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    width: 130%;
  }

  .zukunst figure {
    align-items: left;
  }
  

  .container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .click{
    width: 220px;
    height: 48px;
    background: rgb(223, 167, 179);
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 0em;
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
  }

  #startride {
    margin-top: 30px;
  }
  
  .click:hover{
      background-color: rgb(112, 82, 88);
      transition: .5s;
      text-decoration: none;
      color: white;
    }



/* ABOUT */

.textbox{
    margin-left: 350px;
    padding-top: 100px;
    margin-right: 350px;  
}

.textbox h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.impressum {
    margin-left: 350px;
    margin-right: 350px; 
    margin-top: 20px; 

}


/* FOOTER */

.footer{
    background: #D9D9D9;
    padding:0px 0px;
    font-family: 'Inter', 'calibri', sans-serif;
    text-align: left;
    margin-top: 50px;
    height: 60vh;
}

.footer-container h1{
    width: 110%;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;  
    margin-left: 350px; 
    margin-right: 350px;
    align-items: center;
    gap: 50px 100px;
}

.fuss-zukunst {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    padding-top:100px;
}


.footer a {
    color: black; 
    line-height: 1.9em;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    line-height: 1.9em;
}

.footer ul {
    padding: 0;
}

.footer h4 {
    margin-bottom: 7px;
    margin-top: 20px;
}


.footer-container img{
    height: 60vh;
}

/* ZUKUNST */
.zukunst { 
    margin-left: 350px; 
    margin-right: 350px;
   
}

 /* CONTACT */


 .contact-container{
    margin-left: 350px;
    margin-top: 30px;
    margin-right: 350px;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    flex-wrap: wrap;  
    align-items: center;
 }

#contact1{
    height: 250px;
 }

#contact2{
    height: 250px;
}

#contact2 p{
    line-height: 1.9rem;
}

 .contact {
    height: 300px; 
    width: 350px;
    background-color: rgba(217, 217, 217, 0.3); 
    padding: 30px 45px 45px 45px; 
 }



.contact h3{
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
}

.contact a {
    color: black; 
}


#location {
    width: 100%;
    height: 55vh;

}




/* BIKES */

    
.bike-container {
    display: flex;
    flex-direction: row;  
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    gap: 50px 50px;
    justify-content: center;
    flex-wrap: wrap;
    } 

#umwelt {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
}

        
    
    .bike img {
        max-height: 45vh; 
        max-width: 45vh;
    }

    #bike1 img {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    }

    
    .bike {
        max-width: 45vh; 
        background-color: rgba(217, 217, 217, 0.2); 

    }
    
    
    .bike p {
        color: rgba(26, 26, 26, 0.8);
        padding: 0px 25px 25px 25px;
        text-align: left;
        line-height: 1.7; 
        font-size: 1rem; 
        margin: 0; 
    }
    
    .bike h5 {
        color: rgb(20, 20, 20); 
        padding: 5px 25px 0px 25px;
        text-align: left;
        line-height: 1.7; 
        font-size: 1.2rem;
        font-weight: 500; 
    }

    .bike-click {
        font-size: 1rem;
        margin-bottom: 25px;
        margin-left: 25px;
        height: 36px;
        width: 25vh;
        font-weight: 400;
        text-transform: none;
        line-height: 36px;
        background: rgb(223, 167, 179);
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        margin-top: 0em;
        font-family: 'Inter', 'calibri', sans-serif;
        font-style: normal;
        color: #000000;
        text-align: center;          
    }

    .bike-click:hover{
        background-color: rgb(112, 82, 88);
        transition: .5s;
        text-decoration: none;
        color: white;
      }

    #bikes-button {
        margin-top: 30px;
        font-weight: 500;
        font-size: 1em;
        margin-bottom: 30px; 
        text-transform: none;
    }
 

/* PRICING */

table {
    background-color: rgba(199, 201, 204, 0.3); 
    padding: 35px; 
    text-align: left;
    width: 100%;  
}

#table {
    margin-top: 40px; 
    margin-left: 350px;
    margin-right: 350px;
}



td {
    padding: 15px 0px 10px 0px;
}

th {
    padding-bottom: 10px; 
}


/* IMPRINT */

#imprint{
    margin-top: 15vh;
}





/* PHONE HAMBURGER MENU */


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-top: 7px;
  padding-left: 10px;

}


#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', 'Calibri', Sans-serif;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(56, 56, 56);
    transition: 0.3s;
    padding: 35px 40px;
    box-sizing: border-box;
}


#hamburger-menu  {
  padding-left: 0px;
}

#hamburger-menu  {
  line-height: 2rem;
}

#hamburger-menu a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: none;
  color: rgb(223, 167, 179);
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#menu-heading {
    font-size: 1.3rem;
    color: white;
    font-family: 'Inter', 'calibri', sans-serif;
    font-weight: 400;
}



/* PHONE NAVBAR */

@media screen and (max-width: 550px) {
    .navbar {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  
    #searchbar {
      margin-top: 20px;
      margin-left: 40px;
      padding: 0px; 
    }  

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 40px; 
}

/*PHONE GENERAL */

  .textbox {
    margin-left: 10px;
    margin-right: 10px;
  }




/* PHONE FOOTER */

.footer-container { 
    margin-left: 15px; 
    gap: 20px 30px;
    line-height: 1.4rem;
}

.footer{
    background: #D9D9D9;
    padding:30px 0px;
    font-family: 'Inter', 'calibri', sans-serif;
    text-align: left;
    margin-top: 50px;
    height: 130vh;
}

.footer h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer li {
    line-height: 1.6em;
}

.footer a{
    line-height: 1.6em;
}







/* PHONE BOXES */ 

.bike-container {
    display: flex;
    flex-direction: row;  
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    gap: 50px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    } 

#bikes-button {
    margin-top: 0px;
}

.bike img {
    max-height: 45vh; 
    max-width: 100%;
}
.bike {
    max-width: 100%; 
}


.contact-container{
    margin-left: 10px;
    margin-top: 30px;
    margin-right:  10px;
    gap: 50px 0px;
 }

 #umwelt {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


.impressum {
    margin-left: 10px;
    margin-right: 10px; 
}

/* PHONE HOME HERO */


.info{
    width: 550px;
    margin-left: 10px; 
    margin-top: 30px; 
  }
  
  
  .hero h1 {
      color: white;
      margin-bottom: 10px; 
      margin-top: 7px; 
      font-size: 1.5em;
     
  }
  
  .hero p {
      color: rgb(238, 236, 236); 
      font-family: 'Inter', 'Calibri', sans-serif;
      font-size: 1em;
      line-height: 1.3em;
  }


  .click{
    width: 200px;
    height: 36px;
    background: rgb(223, 167, 179);
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 0em;
    font-family: 'Inter', 'calibri', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
  }

  #home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/header2.jpeg") no-repeat center bottom / cover;
    color: whitesmoke;
}

/* PHONE PRICING */
#table {
    display: none; 
}

#price-phone {
        margin-top: 30px;
        font-weight: 500;
        font-size: 1em;
        margin-bottom: 30px; 
        text-transform: none;
        margin-left: 10px;
}

.zukunsttext p {
    width: 550px;
    margin-left: 10px;
    
}




}

@media screen and (min-width: 550px) {
    #price-phone {
        visibility: hidden;
    }

    div.zukunst {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }


    /* audio */

   

    figure {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    
    figcaption {
        font-size: 0.9em;
        color: black;
        font-family: 'Inter', 'calibri', sans-serif;
        font-style: normal;
        line-height: 1.4rem;
        font-weight: 400;
        margin-bottom: 30px;
        width: 50%;
    }
    
    figcaption h1 {
        font-size: 1.8em;
        color: black;
        font-family: 'Inter', 'calibri', sans-serif;
        font-style: normal;
        line-height: 40px;
        font-weight: 600;
        border-bottom: 4px solid rgb(223, 167, 179);
        width: 30%;
        text-transform: none;
        margin-bottom: 20px;
        margin-top: 60px; 
    }
    
    audio {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
    }



    /* button */

    .back-button {
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        font-family: 'Inter', 'calibri', sans-serif;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      }
      
      .back-button svg {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
      }
      
      .back-button:hover {
        background-color: #f7f7f7;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .back-button:active {
        background-color: #e7e7e7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      #impressum {
margin-top: 70px; 
    } 
      